# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.VSCodeCounter
universe/.VSCodeCounter
Universe_Backend/.VSCodeCounter

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
universe/**/doc/api/
universe/**/ios/Flutter/.last_build_id
universe/.dart_tool/
universe/.flutter-plugins
universe/.flutter-plugins-dependencies
universe/.pub-cache/
universe/.pub/
universe/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
universe/android/app/debug
universe/android/app/profile
universe/android/app/release

universe/lib/assets/config.json
universe/android/app/google-services.json
universe/ios/Runner/GoogleService-Info.plist
universe/lib/firebase_options.dart
universe/firebase.json

# Build results
Universe_Backend/bin/
Universe_Backend/obj/